<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OsakaSoundCloud</title>
<!-- 상세조회면 title 이름도 바뀌어야할까요?-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!--nav-->

<div class="container p-5">
    <p class="bs-primary-text-bg">Title <br><span th:text="${music.title}" class="fw-bold fs-3">title</span></p>
    <p>Artist: <br><span th:text="${music.artist}" class="fw-bold fs-3">artist</span></p>
    <p>Album: <br><span th:text="${music.album}" class="fw-bold fs-3">album</span></p>
        <div class="row gx-5">
            <div class="col-6">
                <p>
                    Release Date: <br><span th:text="${music.releaseDate}" class="fw-bold fs-3">release date</span>
                </p>
            </div>
            <div class="col-6">
                <p>
                    Genre: <br><span th:text="${music.genre}" class="fw-bold fs-3">genre</span>
                </p>
            </div>
        </div>

    <p class="mb-0">Comments: </p><br>
    <div class="bg-light border border-secondary rounded p-3">
        <span th:text="${music.comments}">comments</span>
    </div>

    <br>

    <div class="d-flex justify-content-start mb-2">
        <div class="p-2 bg-light rounded shadow-sm">
            <span th:text="${music.comments}">comments</span>
        </div>
    </div>

    <div class="text-end">
        <button class="btn btn-outline-secondary me-2">Edit</button>
        <button class="btn btn-outline-secondary">Delete</button>
    </div>


</div>
</body>
</html>