<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OsakaSoundCloud</title>
<!-- 상세조회면 title 이름도 바뀌어야할까요?-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!--nav-->
<div th:replace="fragments/navigation :: nav"></div>

<div class="container p-5">
    <p class="bs-primary-text-bg">Title <br><span th:text="${music.title}" class="fw-bold fs-3">title</span></p>
    <p>Artist: <br><span th:text="${music.artist}" class="fw-bold fs-3">artist</span></p>
    <p>Album: <br><span th:text="${music.album}" class="fw-bold fs-3">album</span></p>
        <div class="row gx-5">
            <div class="col-6">
                <p>
                    Release Date: <br><span th:text="${music.releaseDate}" class="fw-bold fs-3">release date</span>
                </p>
            </div>
            <div class="col-6">
                <p>
                    Genre: <br><span th:text="${music.genre}" class="fw-bold fs-3">genre</span>
                </p>
            </div>
        </div>

    <p class="mb-0">Comments: </p><br>
    <div class="d-flex justify-content-start mb-2">
        <div class="p-2 bg-light rounded shadow-sm">
            <span th:text="${music.comments}">comments</span>
        </div>
    </div>

    <div class="text-end">
        <button class="btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    </div>
</div>
  
<!-- 수정 모달 -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary-subtle">
                <h3 class="modal-title fw-bold ms-3 my-2">Edit</h3>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                    <!--
                    <form th:action="@{|/musics/${music.id}|}" method="post" th:object="${music}">
                    -->
                    <form th:action="@{/musics/{id}(id=${music.id})}" method="post" th:object="${music}" id="editForm">

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Title</label>
                        <input type="text" class="form-control" th:field="*{title}" placeholder="제목">
                    </div>

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Artist</label>
                        <input type="text" class="form-control" th:field="*{artist}" placeholder="가수">
                    </div>

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Album</label>
                        <input type="text" class="form-control" th:field="*{album}" placeholder="앨범">
                    </div>

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Release Date</label>
                        <input type="date" class="form-control" th:field="*{releaseDate}" placeholder="발매일">
                    </div>

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Genre</label>
                        <select class="form-select" th:field="*{genre}"
                                data-bs-toggle="tooltip"
                                th:attr="title=${#fields.errors('genre')}"
                                th:classappend="${#fields.hasErrors('genre')} ? ' is-invalid' : ''">
                            <option value="">Select genre</option>
                            <option value="Pop">Pop</option>
                            <option value="K-Pop">K-Pop</option>
                            <option value="J-Pop">J-Pop</option>
                            <option value="Rock">Rock</option>
                            <option value="Ballad">Ballad</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Hip-hop">Hip-hop</option>
                            <option value="Indie">Indie</option>
                        </select>
                    </div>

                    <div class="mb-3 mx-2 fw-bold">
                        <label class="form-label ms-2">Comments</label>
                        <textarea type="text" class="form-control" th:field="*{comments}" placeholder="코멘트"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-dark" onclick="document.getElementById('editForm').submit();">
                    Confirm
                </button>
            </div>

        </div>
    </div>
</div>

<!--삭제 모달-->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary-subtle">
                <h3 class="modal-title fw-bold fs-5 ms-2">Delete</h3>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal"></button>
                <form th:action="@{/musics/{id}(id=${music.id})}" method="post" th:object="${music}" id="deleteForm">
                    <input type="hidden" name="_method" value="delete"/>
                </form>
            </div>
            <div class="modal-body">
                <p class="ms-2 mt-3">삭제하시겠습니까?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" onclick="document.getElementById('deleteForm').submit();"
                        type="button"
                        id="deleteBtn"
                        title="정말로 삭제하시겠습니까?"
                        >
                    Confirm
                </button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>